<div class="calendar">
  <!-- <button class="btn" mat-raised-button color="primary">
    <mat-icon>supervised_user_circle</mat-icon> suggestions
  </button> -->
  <button class="btn" mat-raised-button color="primary"  (click)="onClose()">
    <mat-icon>close</mat-icon> close
  </button>
  <button class="btn" mat-raised-button color="primary"  (click)="onExpand()">
    <mat-icon>settings_ethernet</mat-icon> expand
  </button>
  <p-fullCalendar #calendar [events]="events" [options]="options"></p-fullCalendar>
</div>